[Unit] 
Description= API Recognition database sync service, from master -> slave
After=network.target

[Service]
User=ubuntu
Group=ubuntu
ExecStart=/home/ubuntu/scripts/api-recognition/database-sync/api-recognition-db_sync.sh

[Install] 
WantedBy= multi-user.target
