# minetest.service
[Unit] 
Description= API Recognition database sync service, from master -> slave
After=network.target

[Service] 
ExecStart=/home/ubuntu/scripts/recognition-db-sync.sh
# ExecStop=

[Install] 
WantedBy= multi-user.target
